.header {
    position: relative;
    box-shadow: 0 -10px 10px 15px rgb(0, 0, 0, 0.5);
    /* 
    
     box-shadow  añade efectos de sombra alrededor del marco de un elemento. 
     Se pueden definir múltiples efectos separados por comas. La caja de la
      sombra se describe por los desplazamientos en X e Y, los radios de desenfoque y 
      dispersión, y el color relativos al elemento.
    
    */
    -webkit-box-shadow: 0 -10px 10px 15px rgb(0, 0, 0, 0.5); // adaptacion para safari y mozilla 
    -moz-box-shadow: 0 -10px 10px 15px rgb(0, 0, 0, 0.5); //  adaptacion para safari y mozilla 
    z-index: 1;
}